# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================
venv/
.env
.env.*

data/insightface/models/
# ==========================================
# Runtime Data
# ==========================================
data/

# ==========================================
# Logs
# ==========================================
logs/
*.log

# ==========================================
# SQLite
# ==========================================
*.db
*.sqlite
*.sqlite3

# ==========================================
# AI Models
# ==========================================
*.pt
*.pth
*.onnx
*.pkl
*.engine
*.trt
*.weights
*.ckpt
*.bin
*.safetensors
*.zip

# ==========================================
# HuggingFace / Torch Cache
# ==========================================
.cache/
huggingface/
torch/
Ultralytics/

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db