# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================
venv/
.env
.env.*

# ==========================================
# Runtime Data
# ==========================================
data/

# ==========================================
# Logs
# ==========================================
logs/
*.log

# ==========================================
# SQLite
# ==========================================
*.db
*.sqlite
*.sqlite3

# ==========================================
# AI Models
# ==========================================
*.pt
*.pth
*.onnx
*.engine
*.trt
*.weights
*.ckpt
*.bin
*.safetensors

# ==========================================
# HuggingFace / Torch Cache
# ==========================================
.cache/
huggingface/
torch/
Ultralytics/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# JetBrains
# ==========================================
.idea/

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db