ultralytics
opencv-python
transformers
accelerate
bitsandbytes
faiss-cpu
pillow
requests
numpy
openai
sentencepiece
einops
qwen-vl-utils
gdown
lap>=0.5.12
scipy
python-dotenv
num2words
groq
torchreid
google-genai